@layer components {
  .badge {
    --badge-ratio: 0.8;
  }

  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    background-color: var(--color-ui);
    color: var(--color-ui-contrast);
    border-radius: var(--border-radius);
    height: calc(var(--height-ui) * var(--badge-ratio));
    padding: calc(var(--padding-ui) * var(--badge-ratio));
    gap: calc(var(--gap-ui) * var(--badge-ratio));
    font-size: calc(var(--font-size) * var(--badge-ratio));
    transition: background-color 0.2s;
  }

  .badge .badge__icon {
    height: 1em;
    width: 1em;
    display: inline-flex;
    align-self: center;
    color: currentColor;
  }

  [dir="rtl"] .badge .badge__icon {
    transform: scaleX(-1);
  }

  .badge--square,
  .badge--circle {
    aspect-ratio: 1/1;
    width: auto;
  }

  .badge--circle {
    border-radius: var(--border-radius-full);
  }

  .badge--square:has(.badge__icon),
  .badge--circle:has(.badge__icon) {
    padding: 0;
  }

  .badge--sm {
    height: calc(var(--height-ui-sm) * var(--badge-ratio));
    font-size: calc(var(--font-size-sm) * var(--badge-ratio));
    padding: calc(var(--padding-ui-sm) * var(--badge-ratio));
    gap: calc(var(--gap-ui-sm) * var(--badge-ratio));
  }

  .badge--lg {
    height: calc(var(--height-ui-lg) * var(--badge-ratio));
    font-size: calc(var(--font-size-lg) * var(--badge-ratio));
    padding: calc(var(--padding-ui-lg) * var(--badge-ratio));
    gap: calc(var(--gap-ui-lg) * var(--badge-ratio));
  }

  .badge--xl {
    height: calc(var(--height-ui-xl) * var(--badge-ratio));
    font-size: calc(var(--font-size-xl) * var(--badge-ratio));
    padding: calc(var(--padding-ui-xl) * var(--badge-ratio));
    gap: calc(var(--gap-ui-xl) * var(--badge-ratio));
  }

  .badge--brand {
    background-color: var(--color-ui-brand);
  }

  .badge--alert {
    background-color: var(--color-ui-alert);
  }

  .badge--accent {
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
  }

  .badge--accent.badge--brand {
    background-color: var(--color-accent-brand);
  }

  .badge--accent.badge--alert {
    background-color: var(--color-accent-alert);
  }

  .badge--font-brand {
    color: var(--color-ui-contrast-brand);
  }

  .badge--font-alert {
    color: var(--color-ui-contrast-alert);
  }

  .badge--accent.badge--font-brand {
    color: var(--color-accent-contrast-brand);
  }

  .badge--accent.badge--font-alert {
    color: var(--color-accent-contrast-alert);
  }
}