@layer components {
    .menu [data-scope="menu"][data-part="content"] {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        width: auto;
        height: 100%;
        z-index: 50;
        background-color: var(--color-layer-2);
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        border-color: var(--border-color);
    }

    .menu [data-scope="menu"][data-part="content"]:focus-visible {
        outline: none;
    }

    .menu [data-scope="menu"][data-part="separator"] {
        height: var(--border-width);
        width: 100%;
        background-color: var(--border-color);
    }

    .menu [data-scope="menu"][data-part="item-group"] {
        display: flex;
        flex-direction: column;
        background: var(--color-layer-2);
    }

    .menu [data-scope="menu"][data-part="item-group-label"] {
        color: var(--color-contrast-3);
        padding: var(--padding-ui);
    }

    .menu [data-scope="menu"][data-part="item-group-label"][data-disabled] {
        opacity: 0.6;
    }

    .menu [data-scope="menu"][data-part="item"] {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: auto;
        background-color: var(--color-ui);
        color: var(--color-ui-contrast);
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        border-color: var(--border-color);
        height: var(--height-ui);
        padding: var(--padding-ui);
        gap: var(--gap-ui);
        font-size: var(--font-size);
        line-height: var(--font-line-height);
        transition: background-color 0.2s;
        }

    .menu [data-scope="menu"][data-part="content"] {
        [data-part="item"]:hover {
            background-color: var(--color-ui-1);
            /* color: var(--color-ui-contrast); */
        }
    }

    .menu [data-scope="menu"][data-part="item"]:active {
        background-color: var(--color-ui-2);
        /* color: var(--color-contrast-4); */
    }

    .menu [data-scope="toggle-group"][data-part="item"]:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 2px var(--color-contrast-4);
    }

    .menu [data-scope="menu"][data-part="item"][data-highlighted] {
        background-color: var(--color-ui-2);
        /* color: var(--color-accent-contrast); */
    }

    .menu [data-scope="menu"][data-part="item"][data-selected] {
        background-color: var(--color-accent);
        color: var(--color-accent--contrast);
    }

    .menu [data-scope="menu"][data-part="content"] {
        [data-part="item"] {
            border-radius: unset;
        }

        [data-part="item"]:first-child {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        [data-part="item"]:last-child {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        [data-part="item"][dir="rtl"]:first-child {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        [data-part="item"][dir="rtl"]:last-child {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
    }

    .menu [data-scope="menu"][data-part="context-trigger"] {
        border-style: dashed;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        width: auto;
        background-color: var(color-ui);
        color: var(color-ui-contrast);
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        border-color: var(--border-color);
        height: var(--height-ui);
        padding: calc(var(--padding-ui) * 1.5);
        gap: var(--gap-ui);
        font-size: var(--font-size);
        line-height: 1;
        transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
        appearance: button;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .menu [data-scope="menu"][data-part="indicator"] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        width: 1em;
        flex-shrink: 0;
        color: currentColor;
    }

    [dir="rtl"] .menu [data-scope="menu"][data-part="indicator"] {
        transform: scaleX(-1);
    }
}