@layer components {
  .site-search [data-scope="combobox"][data-part="root"] {
    display: inline-flex;
    flex-direction: column;
    width: 280px;
  }

  .site-search [data-scope="combobox"][data-part="label"] {
    display: block;
    color: var(--color-contrast-1);
    font-size: var(--font-size-sm);
  }

  .site-search [data-scope="combobox"][data-part="control"] {
    display: flex;
    width: 100%;
    position: relative;
  }

  .site-search [data-scope="combobox"][data-part="input"] {
    height: var(--height-ui);
    padding: var(--padding-ui);
    padding-left: calc(var(--padding-ui) + 32px);
    background-color: var(--color-layer);
    color: var(--color-contrast-2);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size);
    transition: all 0.15s ease;
  }

  .site-search [data-scope="combobox"][data-part="input"]:focus {
    outline: none;
    border-color: var(--color-ui-brand);
    color: var(--color-contrast-3);
    box-shadow: 0 0 0 2px var(--color-layer-brand);
    background-color: var(--color-layer);
  }

  .site-search [data-scope="combobox"][data-part="input"]::placeholder {
    color: var(--color-contrast);
    font-size: var(--font-size-sm);
  }

  .site-search [data-part="trigger"] svg {
    height: 1em;
    width: 1em;
  }

  .site-search [data-scope="combobox"][data-part="trigger"]:hover {
    color: var(--color-contrast-4);
  }

  .site-search [data-scope="combobox"][data-part="trigger"]:focus {
    outline: 2px solid var(--color-contrast-4);
    outline-offset: 1px;
  }

  .site-search [data-scope="combobox"][data-part="clear-trigger"] {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    color: var(--color-contrast-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
  }

  .site-search [data-scope="combobox"][data-part="clear-trigger"] svg {
    height: 1em;
    width: 1em;
  }

  .site-search [data-scope="combobox"][data-part="clear-trigger"]:hover {
    color: var(--color-contrast-alert-2);
  }

  .site-search [data-scope="combobox"][data-part="clear-trigger"]:focus {
    outline: 2px solid var(--color-contrast-alert-4);
    outline-offset: 1px;
  }

  .site-search [data-scope="combobox"][data-part="positioner"] {
    position: relative;
    z-index: 50;
  }

  .site-search [data-scope="combobox"][data-part="content"] {
    background-color: var(--color-layer);
    z-index: 50;
    list-style-type: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overscroll-behavior: contain;
    max-height: 450px;
    overflow: auto;
  }

  .site-search [data-part="no-results"] {
    padding: var(--padding-ui);
  }

  .site-search [data-scope="combobox"][data-part="item"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    color: var(--color-contrast-2);
    gap: var(--gap-ui);
    padding: var(--padding-ui);
    user-select: none;
    content-visibility: auto;
    cursor: pointer;
    transition: all 0.15s ease;
    padding-block: 5px;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
  }

  .site-search [data-part="excerpt"] {
    font-size: var(--font-size-3);
    color: var(--color-contrast);
    line-height: var(--font-line-height);
border: 0;
    margin-top: 2px;
    overflow-wrap: break-word;
    word-break: break-word;
    height: var(--height-ui-xl);
    border-top-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
  }

  .site-search [data-part="excerpt"] mark {
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
    padding: 0 2px;
    border-radius: 2px;
  }

  .site-search [data-part="control"] .site-search__icon {
    position: absolute;
    left: 5px;
    top: 5px;
    height: var(--height-ui-sm);
    width: var(--height-ui-sm);
    background: transparent;
    border: none;
    padding: 6px;
    color: var(--color-contrast-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
  }

  .site-search [data-part="item"] svg {
    height: 1em;
    width: 1em;
  }

  .site-search [data-scope="combobox"][data-part="item"]:first-child {
    padding-block-start: 0;
  }

  .site-search [data-scope="combobox"][data-part="item"]:last-child {
    padding-block-end: 0;
  }

  .site-search [data-scope="combobox"][data-part="item"]:hover {
    background-color: var(--color-ui);
    color: var(--color-ui-contrast);
  }

  .site-search [data-scope="combobox"][data-part="item"][data-highlighted] {
    background-color: var(--color-ui-1);
    color: var(--color-ui-contrast);
  }

  .site-search [data-scope="combobox"][data-part="item"][data-state="checked"] {
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
  }

  .site-search [data-scope="combobox"][data-part="item"][data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}